<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="seleniumtest" parallel="classes" thread-count="3">
    <test preserve-order="true" name="TestDebug">
        <!--<groups>-->
            <!--<run>-->
                <!--<exclude name=""/>-->
                <!--<include name=""/>-->
            <!--</run>-->
        <!--</groups>-->
        <classes>
            <class name="com.taoqi.SeleniumDemoTest"/>
        </classes>
        <!--<packages>-->
            <!--<package name=""/>-->
        <!--</packages>-->
    </test>
</suite>